*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white; /*this is for the text color*/ 
    display: flex;
    align-items: center;
}

.navbar-logo{
    height: 50px; /*note: div is visible only if we give height to the navbar*/
    width: 100px;
}

.logo{
    background-image:url(amazon_logo.png);
    background-size: cover;
    height: 50px;/*note: image is only visible if we give height to the navbar*/
    width: 100%;
}

.border{
    border: 1.5px transparent;
}

.border:hover{
    border: 1.5px solid white;
}

.add-icon{
    display: flex;
    align-items: center;
}

/*box-two*/

.address-first{
    color: #cccccc;
    font-size: 0.85rem; /*we will give font size on the orfer of rem, which means in the comparision of 
    font size of parent also it helps website to become responsive
    */
    margin-left: 15px;
}

.address-second{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3px;
    /*new comment add*/
}
/*end of box 2 styling */

/*Start of Box 3 styling*/
/*Nav search div changes */
.nav-search{
    display: flex;
}